## Advent of code 2021 puzzle 
### Day 1

### Part 1

#### Vanilla Python way

In [6]:
with open ("data/day1.txt", 'r') as f:
    measure_list = f.readlines() 

int_list = [int(item) for item in measure_list]

deeper = 0   # counter for deeper measumements 

for indx, num in enumerate(int_list[:-1]):
    if int_list[indx] < int_list[indx+1]:
        deeper += 1
        
print(deeper)

1233

#### pandas way

In [8]:
import pandas as pd
depths = pd.read_csv('./data/day1.txt', header=None)
depths

         0
0      156
1      153
2      163
3      168
4      166
...    ...
1995  3754
1996  3755
1997  3762
1998  3769
1999  3770

[2000 rows x 1 columns]

In [4]:
depths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2000 non-null   int64
dtypes: int64(1)
memory usage: 15.8 KB

In [5]:
depths.diff()

         0
0      NaN
1     -3.0
2     10.0
3      5.0
4     -2.0
...    ...
1995   9.0
1996   1.0
1997   7.0
1998   7.0
1999   1.0

[2000 rows x 1 columns]

In [6]:
(depths[0].diff() > 0).sum()

1233

### Part 2

Sliding window sums.

### Pandas way

In [7]:
depths['sum_3'] = depths[0].rolling(3).sum()
depths

         0    sum_3
0      156      NaN
1      153      NaN
2      163    472.0
3      168    484.0
4      166    497.0
...    ...      ...
1995  3754  11218.0
1996  3755  11254.0
1997  3762  11271.0
1998  3769  11286.0
1999  3770  11301.0

[2000 rows x 2 columns]

In [8]:
(depths['sum_3'].diff() > 0).sum()

1275

### Vanilla Python way

In [40]:
score = 0           # sum of depths
previous_score = 0  # score from previous iteration
total_deeper = 0    # counter for diffs

for indx, val in enumerate(int_list[1:-2]):   
    try:                              
        score = int_list[indx] + int_list[indx +1] + int_list[indx + 2]    
        if score > previous_score:
            total_deeper += 1
        previous_score = score
         
    except:
        continue
print(total_deeper)

1275