## Advent of code 2021
Day 2

## Part 1

### Vanilla Python

In [2]:
file_path = "./data/day2.txt"

with open (file_path, 'r') as f:
    lines = f.readlines()
    
    # horizontal and vertical positions
    h_position, v_position = 0, 0
    
for line in lines:
    line_list = list(line.split())
    action = line_list[0]
    val = int(line_list[1])

    if action == 'forward':
        h_position += val

    if action == 'up':
        v_position -= val

    if action == 'down':
        v_position += val

h_position, v_position, v_position * h_position

(1998, 741, 1480518)

The final number is the answer.

### Pandas

In [8]:
import pandas as pd
df = pd.read_csv('./data/day2.txt', header=None, sep=" ", names=['action', 'val'])
df

      action  val
0    forward    2
1       down    8
2       down    1
3         up    7
4    forward    4
..       ...  ...
995     down    7
996     down    7
997       up    1
998  forward    3
999  forward    2

[1000 rows x 2 columns]

In [14]:
horizontal = df[df['action'] == 'forward']['val'].sum()
horizontal

1998

In [16]:
vertical = df[df['action'] == 'down']['val'].sum() - df[df['action'] == 'up']['val'].sum() 
vertical

741

In [17]:

horizontal * vertical

1480518

## Part 2 

### Vanilla Python

Add aim.

In [3]:
    
# forward, vertical, and aim positions
h_position, v_position, aim = 0, 0, 0
    
for line in lines:
    line_list = list(line.split())
    action = line_list[0]
    val = int(line_list[1])

    if action == 'forward':
        h_position += val
        v_position += (aim * val)

    if action == 'up':
        aim -= val

    if action == 'down':
        aim += val

v_position, h_position, v_position * h_position

(642047, 1998, 1282809906)

The final number is the answer.

No pandas solution, I started one, but it's not the right tool for the job. If you think there's a nice way to solve the problem with pandas, put your solution in an issue.